body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
    width: 95%;
    padding: 1%;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: orange;
  }
  

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 70%;
  }

  
  /*List*/
  ul {
    padding: 10px;
    list-style-type: none;
  }

  li {
    position: relative;
    margin: 5px;
    padding: 5px;
    background-color: aqua;
  }
  
  
  /* Right column */
  .rightcolumn {
    float: right;
    padding-right: 1px;
    width: 29%;
  }

  textarea{
    width: 80%;
    height: 100px;
  }

  button{
    margin-left: 10px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 25px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: orange;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is more than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (min-width: 1800px) {
    container {
      background-color: black;
    }
  }


  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }